@{
}
<div class="container mt-5">
    <div class="card-header" style="background-color: #800080; color: white;">
        SE EDITO CORRECTAMENTE
    </div>
    <div class="mt-3">
        <a href="@Url.Action("HomeAdmin", "Admin")" class="btn btn-primary">Regresar</a>
    </div>
</div>