<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Tickets</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" type="image/png" href="/favicon2.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sistema_de_tickets.styles.css" asp-append-version="true" />
    <script src="https://cdn.tiny.cloud/1/rx66b37yvvqyq620z86ljevusuqr1tmvt0aa5gt9oaeyqi1f/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>
</head>
<body style="font-family: 'Montserrat', sans-serif;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background-color: #14053D;">
            <div class="container-fluid justify-content-start">
                <a class="navbar-brand" asp-area="" asp-controller="Cliente" asp-action="HomeCliente"><img src="~/images/logo3.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!--BOTON DE CERRAR SESION-->
            <div class="collapse navbar-collapse justify-content-end">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Inicio" asp-action="Index">Cerrar Sesión</a>
            </div>
        </nav>
    </header>
    <div class="container-fluid d-flex">
        <tr>
            <th>
                <div class="col-1 pt-5 pb-5" style="background-color: #201346; display: flex; flex-direction: column; align-items: center; padding: 5px; margin-top: -30px; margin-left: -15px;">
                    <a class="navbar-brand" asp-area="" asp-controller="Cliente" asp-action="HomeCliente">
                        <img src="~/images/homeImg.png" alt="Home" style="width: 30px;">
                    </a><br />

                    <a class="navbar-brand" asp-area="" asp-controller="Cliente" asp-action="HistorialDeTickets">
                        <img src="~/images/ticketsImg.png" alt="Tickets" style="width: 30px;">
                    </a><br />

                    <a class="navbar-brand" asp-area="" asp-controller="Cliente" asp-action="CrearTicket">
                        <img src="~/images/ticketsAsignarImg.png" alt="Asignar" style="width: 30px;">
                    </a><br />

                    <a class="navbar-brand" asp-area="" asp-controller="Cliente" asp-action="Settings">
                        <img src="~/images/ajustesImg.png" alt="Ajustes" style="width: 30px;">
                    </a><br />
                </div>
            </th>
            <th>
                <div class="container-fluid content">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </th>
        </tr>
    </div>


    <footer class="footer text-muted py-4" style="background-color: #14053D; font-family: 'Montserrat' , sans-serif;">
        <div class="container-fluid text-light text-center">
            Copyright &copy; 2024 - Todos los derechos reservados
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
