@{
    ViewData["Title"] = "Home Page";
}

<!--Para mi que esta la hagamos la pagina de autenticación cuando los usuarios inicien sección-->
<div class="text-center">
    <!--Básicamente, si el usuario se autentico correctamente, redirigira a esta pagina y señalará con el nombre de usuario que se introdujo correctamente-->
    <h1 class="display-4">Welcome <Strong>@ViewBag.NombreUsuario</Strong></h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
