@{
}
<div class="container mt-5">
    <div class="card-header" style="background-color: #800080; color: white;">
        SE HA AGREGADO CORRECTAMENTE EL TICKET
    </div>
    <div class="mt-3">
        <a href="@Url.Action("HomeCliente", "Cliente")" class="btn btn-primary">Regresar</a>
    </div>
</div>
