html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-purple {
    background: url('/images/fondo2.svg') no-repeat center center;
    background-size: cover;
    background-color: #6a1b9a;
    border-radius: 15px;
}

.btnEmpleado {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 650px;
}

.btnEmpleado {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 650px;
    float: right;
}

hr {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}


/*login*/
.Fondo {
    background-image: url('/images/LoginBG.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.login-container {
    background-color: rgba(59, 2, 66, 0.8);
    border-radius: 10px;
    box-shadow: rgba(44, 44, 44, 0.1));
    text-align: center;
    padding: 20px 30px 40px;
    margin-bottom;
}

form {
    /*display: flex;*/
    flex-direction: column;
}
